<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.FileDAO">

    <insert id="insertFile">
        INSERT INTO board_file (uuid, save_dir, file_name, file_type, bno, file_size, reg_date)
        VALUES (#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{bno}, #{fileSize}, NOW())
    </insert>

    <select id="getFileList" resultType="com.example.demo.domain.FileVO">
        SELECT * FROM board_file WHERE bno = #{bno}
    </select>

    <select id="getFile" resultType="com.example.demo.domain.FileVO">
        SELECT * FROM board_file WHERE uuid = #{uuid}
    </select>

    <delete id="deleteFile">
        DELETE FROM board_file WHERE uuid = #{uuid}
    </delete>
    
    <delete id="deleteAllFiles">
        DELETE FROM board_file WHERE bno = #{bno}
    </delete>

</mapper>
