<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Spring Demo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/board/list}">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/board/register}">Board Reg</a>
          </li>
          <!-- Admin Only Link -->
          <li class="nav-item" sec:authorize="hasRole('ADMIN')">
            <a class="nav-link" th:href="@{/user/list}">User List (Admin)</a>
          </li>
        </ul>
        
        <!-- Login/Join/Logout Links -->
        <ul class="navbar-nav">
          <!-- Anonymous only -->
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/user/register}">Join</a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/user/login}">Login</a>
          </li>
          
          <!-- Authenticated only -->
          <li class="nav-item" sec:authorize="isAuthenticated()">
              <span class="nav-link" th:text="${#authentication.principal.userVO.nickName} + ' ' + ${#authentication.authorities}"></span>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
             <form th:action="@{/user/logout}" method="post" id="logoutForm">
                 <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
             </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</html>
      </div>
    </div>
  </nav>
</html>
